// Greyscale
$black: #000000;
$dark-grey: #262626;
$grey: #333333;
$light-grey: #5b5b5b;
$lighter-grey: #8f8f8f;
$lighterer-grey: #cccccc;
$white: #ffffff;

$blue: #596ae4;
$teal: #17444a;
$forest-green: #357266;
$ash-green: #a3bbad;


@mixin theme(
    $body,
    $body_bg,
    $nav,
    $nav_hover,
    $nav_bg
) {
    color: $body;
    background-color: $body_bg;

    nav {
        background-color: $nav_bg;
        color: $nav;

        div a {
            color: $nav;
        }
    }

    .nav-center a:hover {
        color: $nav_hover;
    }

    .hamburger-bar {
        background-color: $nav;
    }

}

.dark-theme-grey {
    @include theme($white, $grey, $white, $light-grey, $dark-grey);
    --primary: #333333;
    --secondary: #262626;
}

.light-theme-blue {
    @include theme($black, $white, $white, $lighterer-grey, $blue);
    --primary: #ffffff;
    --secondary: #596ae4;
}

.light-theme-greens {
    @include theme($white, $ash-green, $white, $lighterer-grey, $forest-green);
    --primary: #a3bbad;
    --secondary: #357266;
}
