$black: #000000;
$dark-grey: #262626;
$grey: #333333;
$light-grey: #5b5b5b;
$lighter-grey: #8f8f8f;
$lighterer-grey: #cccccc;
$white: #ffffff;
$blue: #596ae4;
$light-blue: #649cd1;
$purple: #414066;
$light-purple: #645da3;
$light-red: #d52941;
$dark-red: #990d35;
$teal: #17444a;
$forest-green: #357266;
$ash-green: #a3bbad;
$light-pink: #ffcad4;
$light-yellow: #e9eb8a;
$brown: #804b16;

@mixin theme(
    $main-text,
    $background,
    $nav-background,
    $nav-link,
    $nav-link-hover,
    $about-heading,
    $about-text,
    $about-link: $light-blue,
    $nav-link-weight: 400,
    $github-logo-background: $white
) {
    background-color: $background;

    nav {
        background-color: $nav-background;
        color: $nav-link;

        div a {
            color: $nav-link;
            font-weight: $nav-link-weight;
        }
    }

    .about-section {
        h1 {
            color: $about-heading;
        }

        p {
            color: $about-text;
        }

        ul {
            color: $about-text;
        }
    }

    .about-link {
        color: $about-link
    }

    .nav-center a:hover {
        color: $nav-link-hover;
    }

    .hamburger-bar {
        background-color: $nav-link;
    }

    header {
        color: $main-text;
    }

    #github-logo {
        background-color: $github-logo-background;
    }

}

.dark-theme-grey {
    @include theme(
        $main-text: $white,
        $background: $grey,
        $nav-background: $dark-grey,
        $nav-link: $white, 
        $nav-link-hover: $light-grey,
        $about-heading: $lighterer-grey,
        $about-text: $white
    );

    --primary: #333333;
    --secondary: #262626;
}

.light-theme-blue {
    @include theme(
        $main-text: $black,
        $background: $white,
        $nav-background: $blue,
        $nav-link: $white,
        $nav-link-hover: $lighterer-grey,
        $about-heading: $black,
        $about-text: $black,
        $github-logo-background: $lighter-grey
    );

    --primary: #ffffff;
    --secondary: #596ae4;
}

.light-theme-green {
    @include theme(
        $main-text: $black,
        $background: $ash-green,
        $nav-background: $forest-green,
        $nav-link: $white,
        $nav-link-hover: $lighterer-grey,
        $about-heading: $black,
        $about-text: $black,
        $about-link: $brown
    );

    --primary: #a3bbad;
    --secondary: #357266;
}

.light-theme-red {
    @include theme(
        $main-text: $white,
        $background: $light-red,
        $nav-background: $dark-red,
        $nav-link: $white,
        $nav-link-hover: $lighter-grey,
        $about-heading: $white,
        $about-text: $white,
        $about-link: $light-yellow
    );

    --primary: #d52941;
    --secondary: #990d35;
}

.dark-theme-purple {
    @include theme(
        $main-text: $white,
        $background: $purple,
        $nav-background: $light-pink,
        $nav-link: $black,
        $nav-link-hover: $light-purple,
        $nav-link-weight: 600,
        $about-heading: $light-pink,
        $about-text: $white
    );

    --primary: #414066;
    --secondary: #ffcad4;
}
