nav {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    justify-items: center;
    background: $blue-darker;
    padding: 1em 0;
    font-size: 1.5rem;

    div {
        padding: 0.5em 0.85em;

        &:first-child {
            grid-column-start: 2;
        }

        &:last-child {
            margin-left: auto;
        }

        a {
            display: inline-block;
            color: $white;
            padding: 0 0.5em 0.1em;
            border-radius: 0.1em;
            transition: all ease-out 400ms;
        }
    }
}

.nav-center {
    display: block;
}

.nav-center a:hover {
    translate: 0 -15%;
    color: $blue-darker;
    box-shadow: inset 400px 0 0 0 $white;
    text-decoration: none;
}

.nav-current a {
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
    text-underline-position: under;
}

#hamburger {
    display: none;
}

#hamburger a {
    transition: padding 200ms ease;
}

.hamburger-bar {
    display: block; 
    width: 1.35em;
    height: 0.135em;
    background-color: $white;
    margin: 0.3em 0;
    transition: all 200ms ease-in-out;
}   

.hamburger-x-padding {
    padding: 0 0.1em 0.1em 0.5em;
}
  
.hamburger-x:first-of-type {
    transform: rotate(41.5deg);
    transform-origin: top left;
}

.hamburger-x:nth-of-type(2) {
    transform-origin: center;
    width: 0;
}

.hamburger-x:last-of-type {
    transform: rotate(-41.5deg);
    transform-origin: bottom left;
}

@media only screen and (max-width: 600px) {

    nav {
        grid-template-columns: auto;
    }

    #hamburger {
        display: inline-block;
        grid-row-start: 1;
        grid-column: span 2;
    }   

    .nav-center {
        grid-column: span 2 !important;
        display: none;
        width: 100%;
        text-align: center;
    }

}
