nav {
    display: grid;
    grid-template-columns: 1fr repeat(4, auto) 1fr;
    justify-items: center;
    width: 100%;
    padding: 0.35em 0;

    div {
        padding: 0.5em;

        &:last-child {
            margin-left: auto;
        }

        a {
            font-size: 1.2rem;
            display: inline-block;
            padding: 0 0.75em 0.1em;
            transition: color 150ms;
        }
    }
}

.nav-left {
    justify-self: left;
}

.nav-center {
    display: block;
}

.nav-current a {
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
    text-underline-position: under;
    text-underline-offset: 0.1em;
}

#hamburger {
    display: none;
}

#hamburger a {
    transition: padding 200ms ease;
}

.hamburger-bar {
    display: block; 
    width: 1.35em;
    height: 0.135em;
    margin: 0.3em 0;
    transition: all 200ms ease-in-out;
}   

.hamburger-x-padding {
    padding: 0 0.1em 0.1em 0.5em;
}
  
.hamburger-x:first-of-type {
    transform: rotate(41.5deg);
    transform-origin: top left;
}

.hamburger-x:nth-of-type(2) {
    transform-origin: center;
    width: 0;
}

.hamburger-x:last-of-type {
    transform: rotate(-41.5deg);
    transform-origin: bottom left;
}

#blob {
    width: 1em;
    scale: 3.5;
    translate: 0;
}

@media only screen and (max-width: 600px) {

    nav {
        grid-template-columns: auto;
    }

    
    .nav-left {
        grid-row-start: 1;
        grid-column: 1;
    }

    #hamburger {
        display: inline-block;
        grid-row-start: 1;
        grid-column: 2;
    }   

    .nav-center {
        grid-column: span 2 !important;
        display: none;
        width: 100%;
        text-align: center;
    }

}
