.dark-theme-grey {
  color: #ffffff;
  background-color: #333333;
  --primary: #333333;
  --secondary: #262626;
}
.dark-theme-grey nav {
  background-color: #262626;
}
.dark-theme-grey nav div a {
  color: #ffffff;
}
.dark-theme-grey .nav-center a:hover {
  color: #5b5b5b;
}
.dark-theme-grey .hamburger-bar {
  background-color: #ffffff;
}

.light-theme-blue {
  color: #000000;
  background-color: #ffffff;
  --primary: #ffffff;
  --secondary: #596ae4;
}
.light-theme-blue nav {
  background-color: #596ae4;
}
.light-theme-blue nav div a {
  color: #ffffff;
}
.light-theme-blue .nav-center a:hover {
  color: #cccccc;
}
.light-theme-blue .hamburger-bar {
  background-color: #ffffff;
}

.dark-theme-teal {
  color: #000000;
  background-color: #8f8f8f;
  --primary: #8f8f8f;
  --secondary: #17444a;
}
.dark-theme-teal nav {
  background-color: #17444a;
}
.dark-theme-teal nav div a {
  color: #ffffff;
}
.dark-theme-teal .nav-center a:hover {
  color: #cccccc;
}
.dark-theme-teal .hamburger-bar {
  background-color: #ffffff;
}

nav {
  display: grid;
  grid-template-columns: 1fr repeat(4, auto) 1fr;
  justify-items: center;
  width: 100%;
  padding: 0.35em 0;
}
nav div {
  padding: 0.5em;
}
nav div:last-child {
  margin-left: auto;
}
nav div a {
  font-size: 1.2rem;
  display: inline-block;
  padding: 0 0.75em 0.1em;
  transition: color 150ms;
}

.nav-left {
  justify-self: left;
}

.nav-center {
  display: block;
}

.nav-current a {
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-position: under;
  text-underline-offset: 0.1em;
}

#hamburger {
  display: none;
}

#hamburger a {
  transition: padding 200ms ease;
}

.hamburger-bar {
  display: block;
  width: 1.35em;
  height: 0.135em;
  margin: 0.3em 0;
  transition: all 200ms ease-in-out;
}

.hamburger-x-padding {
  padding: 0 0.1em 0.1em 0.5em;
}

.hamburger-x:first-of-type {
  transform: rotate(41.5deg);
  transform-origin: top left;
}

.hamburger-x:nth-of-type(2) {
  transform-origin: center;
  width: 0;
}

.hamburger-x:last-of-type {
  transform: rotate(-41.5deg);
  transform-origin: bottom left;
}

#blob {
  width: 1em;
  scale: 3.5;
  translate: 0;
}

@media only screen and (max-width: 600px) {
  nav {
    grid-template-columns: auto;
  }
  .nav-left {
    grid-row-start: 1;
    grid-column: 1;
  }
  #hamburger {
    display: inline-block;
    grid-row-start: 1;
    grid-column: 2;
  }
  .nav-center {
    grid-column: span 2 !important;
    display: none;
    width: 100%;
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15em 2em;
  cursor: default;
}
header div:first-child h1 {
  position: relative;
  display: inline;
  font-weight: 600;
  font-size: 3.5rem;
}
header div:last-child {
  text-align: left;
  width: 25.925625em;
}
header div:last-child p {
  position: relative;
  display: inline;
  margin-top: 1em;
  font-size: 1.05rem;
}

@keyframes caret-fade-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.caret {
  border: none;
  position: absolute;
  right: -0.15em;
  top: -0.1em;
}

.caret-fade {
  animation: caret-fade-animation 5s;
}

#header-caret {
  opacity: 1;
  font-weight: 100;
  font-size: 3.5rem;
}

#header-description-caret {
  opacity: 0;
  right: -0.2em;
  font-size: 1.05rem;
}

@media only screen and (max-width: 600px) {
  header div:first-child {
    font-size: 3rem;
  }
  header div:last-child {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=index.css.map */