@import "./colors";
@import "./nav";
@import "./footer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: $white;
    overflow-x: hidden;
    font-family: system-ui, -apple-system,
                 BlinkMacSystemFont, 'Segoe UI',
                 Roboto, Oxygen,
                 Ubuntu, Cantarell,
                 'Open Sans', 'Helvetica Neue',
                 sans-serif;
}

a {
    text-decoration: none;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -1px;
}

svg {
    position: relative;
    display: block;
}

#section-1 {
    background-image: url("../images/jpg/space-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 0 11em;

    .wave {
        transform: rotate(180deg);
    
        svg {
            width: calc(111% + 1.3px);
            height: 12.5em;
        }
        
        .shape-fill {
            fill: $space-black;
        }
    }    
}

header {
    padding: 10em 1em;

    h1 {
        text-align: center;
        font-size: 3.75rem;
        font-weight: 600;
    }
    
    p {
        padding: 0.75em 2em 0;
        text-align: center;
        font-size: 1.05rem;
    }
}

#section-2 {
    background: $space-black;
    padding-bottom: 6em;  

    svg {
        width: calc(158% + 1.3px);
        height: 6em;
    }
    
    .shape-fill {
        fill: $space-blue;
    }
}

#about-me {
    display: flex;
    width: 100%;

    div,
    aside {
        flex: 1;
        padding: 5em;
    }

    div {
        padding: 7em 10em 13em;

        h2 {
            font-size: 2.75rem;
            font-weight: 400;
            padding-bottom: 1em;
        }

        p {
            width: 45ch;
            font-size: 1.1rem;
        }
    }

    aside {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;

        #ise-logo {
            img {
                opacity: 0;
                translate: 50em;
                width: 85%;
            }
        }
    }
}

#section-3 {
    background: $space-blue;
    min-height: 800px;
    padding-top: 250px;
}
